## Setting Up Notebook and Preparing Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from time import sleep
from tqdm import tqdm
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.preprocessing import StandardScaler, scale
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LassoCV

In [2]:
# Read in the csv file containing the cleaned data
df = pd.read_csv('Cleaned_Training_Set.csv', header=0)
df = df.drop('Unnamed: 0', axis=1)
df

,country,year,World bank region,"World bank, 4 income groups 2017",Adjusted savings: mineral depletion (current US$),Adjusted savings: energy depletion (current US$),Population (Total),Population growth (annual %),Population density (people per sq. km of land area),Rural population (% of total population),Urban population (% of total),Rural population,Urban population,Urban population growth (annual %),Urban population 5 years in the future
0,Afghanistan,1972,South Asia,Low income,0.000000e+00,2.233065e+07,11644377.0,2.794796,17.853176,88.0702,11.9298,10255226.0,1389151.0,6.634620,1855690
1,Afghanistan,1973,South Asia,Low income,0.000000e+00,2.654146e+07,11966352.0,2.727531,18.346829,87.6208,12.3792,10485013.0,1481339.0,6.425364,1942479
2,Afghanistan,1974,South Asia,Low income,0.000000e+00,6.606462e+07,12273589.0,2.535101,18.817885,87.1714,12.8286,10699059.0,1574530.0,6.101041,2014500
3,Afghanistan,1975,South Asia,Low income,0.000000e+00,6.882184e+07,12551790.0,2.241357,19.244423,86.7220,13.2780,10885163.0,1666627.0,5.684501,2066033
4,Afghanistan,1976,South Asia,Low income,0.000000e+00,6.463635e+07,12806810.0,2.011378,19.635420,86.2426,13.7574,11044926.0,1761884.0,5.558187,2064276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6466,Zimbabwe,1998,Sub-Saharan Africa,Low income,3.574371e+06,2.922644e+06,12229500.0,1.513394,31.613028,67.0524,32.9476,8200173.0,4029327.0,2.750848,4438019
6467,Zimbabwe,1999,Sub-Saharan Africa,Low income,1.121581e+07,0.000000e+00,12384727.0,1.261295,32.014287,66.6472,33.3528,8254074.0,4130653.0,2.483614,4498365
6468,Zimbabwe,2000,Sub-Saharan Africa,Low income,2.259094e+07,1.635434e+06,12503652.0,0.955674,32.321706,66.2420,33.7580,8282669.0,4220983.0,2.163253,4558017
6469,Zimbabwe,2001,Sub-Saharan Africa,Low income,1.491629e+07,2.523939e+07,12586763.0,0.662494,32.536546,65.8216,34.1784,8284809.0,4301954.0,1.900130,4620705
6470,Zimbabwe,2002,Sub-Saharan Africa,Low income,2.946757e+07,6.534920e+06,12640922.0,0.429362,32.676546,65.4012,34.5988,8267315.0,4373607.0,1.651873,4684302

In [3]:
# Since all the countries in the preview are "Low income", we are looking for one in a different category that we can
# test later to ensure that our ordinal income feature is correctly mapped.
df.iloc[50,3]

'Upper middle income'

In order to use categorical features in our model, we will need to assign them a numerical value, which is done in the two cells below.

In [4]:
mapper = {'High income': 3, 'Upper middle income': 2, 'Lower middle income': 1, 'Low income': 0}
df['World bank, 4 income groups 2017'] = df['World bank, 4 income groups 2017'].replace(mapper)

In [5]:
df

,country,year,World bank region,"World bank, 4 income groups 2017",Adjusted savings: mineral depletion (current US$),Adjusted savings: energy depletion (current US$),Population (Total),Population growth (annual %),Population density (people per sq. km of land area),Rural population (% of total population),Urban population (% of total),Rural population,Urban population,Urban population growth (annual %),Urban population 5 years in the future
0,Afghanistan,1972,South Asia,0,0.000000e+00,2.233065e+07,11644377.0,2.794796,17.853176,88.0702,11.9298,10255226.0,1389151.0,6.634620,1855690
1,Afghanistan,1973,South Asia,0,0.000000e+00,2.654146e+07,11966352.0,2.727531,18.346829,87.6208,12.3792,10485013.0,1481339.0,6.425364,1942479
2,Afghanistan,1974,South Asia,0,0.000000e+00,6.606462e+07,12273589.0,2.535101,18.817885,87.1714,12.8286,10699059.0,1574530.0,6.101041,2014500
3,Afghanistan,1975,South Asia,0,0.000000e+00,6.882184e+07,12551790.0,2.241357,19.244423,86.7220,13.2780,10885163.0,1666627.0,5.684501,2066033
4,Afghanistan,1976,South Asia,0,0.000000e+00,6.463635e+07,12806810.0,2.011378,19.635420,86.2426,13.7574,11044926.0,1761884.0,5.558187,2064276
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6466,Zimbabwe,1998,Sub-Saharan Africa,0,3.574371e+06,2.922644e+06,12229500.0,1.513394,31.613028,67.0524,32.9476,8200173.0,4029327.0,2.750848,4438019
6467,Zimbabwe,1999,Sub-Saharan Africa,0,1.121581e+07,0.000000e+00,12384727.0,1.261295,32.014287,66.6472,33.3528,8254074.0,4130653.0,2.483614,4498365
6468,Zimbabwe,2000,Sub-Saharan Africa,0,2.259094e+07,1.635434e+06,12503652.0,0.955674,32.321706,66.2420,33.7580,8282669.0,4220983.0,2.163253,4558017
6469,Zimbabwe,2001,Sub-Saharan Africa,0,1.491629e+07,2.523939e+07,12586763.0,0.662494,32.536546,65.8216,34.1784,8284809.0,4301954.0,1.900130,4620705
6470,Zimbabwe,2002,Sub-Saharan Africa,0,2.946757e+07,6.534920e+06,12640922.0,0.429362,32.676546,65.4012,34.5988,8267315.0,4373607.0,1.651873,4684302

In [6]:
# Testing to ensure that a our 'Upper middle income' sample country is correctly mapped.
df.iloc[50,3]

2

In [7]:
df_dummies = pd.get_dummies(df, columns=['country', 'World bank region'])
df_dummies

,year,"World bank, 4 income groups 2017",Adjusted savings: mineral depletion (current US$),Adjusted savings: energy depletion (current US$),Population (Total),Population growth (annual %),Population density (people per sq. km of land area),Rural population (% of total population),Urban population (% of total),Rural population,...,"country_Yemen, Rep.",country_Zambia,country_Zimbabwe,World bank region_East Asia & Pacific,World bank region_Europe & Central Asia,World bank region_Latin America & Caribbean,World bank region_Middle East & North Africa,World bank region_North America,World bank region_South Asia,World bank region_Sub-Saharan Africa
0,1972,0,0.000000e+00,2.233065e+07,11644377.0,2.794796,17.853176,88.0702,11.9298,10255226.0,...,0,0,0,0,0,0,0,0,1,0
1,1973,0,0.000000e+00,2.654146e+07,11966352.0,2.727531,18.346829,87.6208,12.3792,10485013.0,...,0,0,0,0,0,0,0,0,1,0
2,1974,0,0.000000e+00,6.606462e+07,12273589.0,2.535101,18.817885,87.1714,12.8286,10699059.0,...,0,0,0,0,0,0,0,0,1,0
3,1975,0,0.000000e+00,6.882184e+07,12551790.0,2.241357,19.244423,86.7220,13.2780,10885163.0,...,0,0,0,0,0,0,0,0,1,0
4,1976,0,0.000000e+00,6.463635e+07,12806810.0,2.011378,19.635420,86.2426,13.7574,11044926.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6466,1998,0,3.574371e+06,2.922644e+06,12229500.0,1.513394,31.613028,67.0524,32.9476,8200173.0,...,0,0,1,0,0,0,0,0,0,1
6467,1999,0,1.121581e+07,0.000000e+00,12384727.0,1.261295,32.014287,66.6472,33.3528,8254074.0,...,0,0,1,0,0,0,0,0,0,1
6468,2000,0,2.259094e+07,1.635434e+06,12503652.0,0.955674,32.321706,66.2420,33.7580,8282669.0,...,0,0,1,0,0,0,0,0,0,1
6469,2001,0,1.491629e+07,2.523939e+07,12586763.0,0.662494,32.536546,65.8216,34.1784,8284809.0,...,0,0,1,0,0,0,0,0,0,1
6470,2002,0,2.946757e+07,6.534920e+06,12640922.0,0.429362,32.676546,65.4012,34.5988,8267315.0,...,0,0,1,0,0,0,0,0,0,1

In [8]:
# Assign predictors to X and target feature to y
X = df_dummies.drop('Urban population 5 years in the future', axis=1)
y = df_dummies['Urban population 5 years in the future']

## Train-Test Split

In [9]:
rand_state=18

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=rand_state)

## Model 0: Basic Linear Regression--No Tuning

In [11]:
# The score attribute of scikit-learn's LinearRegression is R-squared
# R-Squared = Explained variance of the model / Total variance of the target variable
reg0 = LinearRegression()
reg0.fit(X_train, y_train)
y_pred_lin = reg0.predict(X_test)
r_squared_linreg0 = reg0.score(X_test, y_test)
rmse0 = np.sqrt(mean_squared_error(y_test, y_pred_lin))
print('R-squared:', r_squared_linreg0)
print('Root Mean Squared Error:', rmse0)

R-squared: 0.9993746420260124
Root Mean Squared Error: 896616.7434786378

In [12]:
cv_scores = cross_val_score(reg0, X_train, y_train, cv=5)
cv_scores

array([0.99912594, 0.99955592, 0.9994002 , 0.99921448, 0.99908285])

In [13]:
np.mean(cv_scores)

0.999275877284236

In [14]:
# Linear regression coefficients
linreg0_coef = reg0.coef_
linreg0_coef_name = X_train.columns
lr0_feature_coef_dict = {linreg0_coef_name[i]: linreg0_coef[i] for i in range(len(linreg0_coef_name))}
lr0_feature_coef_dict

{'year': -4947.561310284262,
 'World bank, 4 income groups 2017': -8399758.345213212,
 'Adjusted savings: mineral depletion (current US$)': -0.0005385325353404746,
 'Adjusted savings: energy depletion (current US$)': -5.232445245417772e-05,
 'Population (Total)': -393143867.3899742,
 'Population growth (annual %)': -4465.152114880586,
 'Population density (people per sq. km of land area)': -11.138391194542919,
 'Rural population (% of total population)': -554931286.3271441,
 'Urban population (% of total)': -554953967.3141521,
 'Rural population': 393143867.3538424,
 'Urban population': 393143868.57780355,
 'Urban population growth (annual %)': 61095.68983387621,
 'country_Afghanistan': -10585969.709191347,
 'country_Albania': -3533504.5820563487,
 'country_Algeria': 337275.8730550225,
 'country_American Samoa': 140118.38763473858,
 'country_Andorra': 6036863.594220314,
 'country_Angola': 3580687.443608906,
 'country_Antigua and Barbuda': 7194011.885561109,
 'country_Argentina': -2448546.0270816535,
 'country_Armenia': -11509479.506470762,
 'country_Aruba': 7484086.753669595,
 'country_Australia': 8493013.294043481,
 'country_Austria': 4875234.769446466,
 'country_Azerbaijan': -3408513.1728804214,
 'country_Bahamas, The': 8009388.861268808,
 'country_Bahrain': 8665778.196867883,
 'country_Bangladesh': 1509620.3098188192,
 'country_Barbados': 7227933.928616572,
 'country_Belarus': -3555685.3351594843,
 'country_Belgium': 4712610.394445979,
 'country_Belize': -989128.6041376451,
 'country_Benin': -5384186.07361405,
 'country_Bermuda': 7571083.030407973,
 'country_Bhutan': -2945307.290078722,
 'country_Bolivia': -9274511.236299936,
 'country_Bosnia and Herzegovina': -3561346.312754102,
 'country_Botswana': 11042169.014030255,
 'country_Brazil': -2599897.282825142,
 'country_Brunei Darussalam': 8197914.023827221,
 'country_Bulgaria': -3627127.4113180824,
 'country_Burkina Faso': -5683236.34272019,
 'country_Burundi': -6078676.483713537,
 'country_Cabo Verde': 2919473.3267419115,
 'country_Cambodia': -9395110.632266149,
 'country_Cameroon': 3417608.4704586677,
 'country_Canada': 5821450.309229579,
 'country_Cayman Islands': 8429990.336511321,
 'country_Central African Republic': -5416116.015847467,
 'country_Chad': -5715834.091746209,
 'country_Channel Islands': 4884921.91100765,
 'country_Chile': 8175440.024621695,
 'country_China': 39859027.00432435,
 'country_Colombia': -1122739.6136450842,
 'country_Comoros': -5678652.05245751,
 'country_Congo, Dem. Rep.': -4782636.310056165,
 'country_Congo, Rep.': 3393454.825574843,
 'country_Costa Rica': -1005427.6788473949,
 "country_Cote d'Ivoire": 3328408.228218167,
 'country_Croatia': -3402319.2883716747,
 'country_Cuba': -1267318.00240561,
 'country_Cyprus': 5395893.018936064,
 'country_Czech Republic': 4578256.767548518,
 'country_Denmark': 5394075.346755311,
 'country_Djibouti': -8593087.918190934,
 'country_Dominica': -602082.7514974587,
 'country_Dominican Republic': -862751.5825530551,
 'country_Ecuador': -772746.9797235932,
 'country_Egypt, Arab Rep.': -9851350.778621435,
 'country_El Salvador': -9491919.634571575,
 'country_Equatorial Guinea': 11330211.487491462,
 'country_Eritrea': -5825968.863632416,
 'country_Estonia': 5568082.082616262,
 'country_Ethiopia': -4300291.290223601,
 'country_Faeroe Islands': 4810147.384453505,
 'country_Fiji': -741524.149892943,
 'country_Finland': 5371807.783263397,
 'country_France': 212349.02174968645,
 'country_French Polynesia': 8008546.830593418,
 'country_Gabon': 11877840.238189312,
 'country_Gambia, The': -5595541.903281245,
 'country_Georgia': -11813681.001995161,
 'country_Germany': -3643621.171021439,
 'country_Ghana': 3454260.941359666,
 'country_Greece': 4775500.491073985,
 'country_Greenland': 5905103.349104429,
 'country_Grenada': -1248980.896914374,
 'country_Guam': 8724285.021115737,
 'country_Guatemala': -9504780.716376904,
 'country_Guinea': -5429314.344961647,
 'country_Guinea-Bissau': -5713260.413936038,
 'country_Guyana': -1310012.7295386097,
 'country_Haiti': -18061947.299875535,
 'country_Honduras': -9601235.162250541,
 'country_Hong Kong SAR, China': 8494064.684685424,
 'country_Hungary': 4539631.896093203,
 'country_Iceland': 6096600.122598566,
 'country_India': 14143435.714745795,
 'country_Indonesia': -1494760.4900973467,
 'country_Iran, Islamic Rep.': 1234595.6547483169,
 'country_Iraq': 97220.64906482026,
 'country_Ireland': 5205114.625981867,
 'country_Isle of Man': 5305209.060263295,
 'country_Israel': 8507094.020827528,
 'country_Italy': -79078.57432546467,
 'country_Jamaica': -991364.6257121251,
 'country_Japan': -3386725.568484444,
 'country_Jordan': -8486107.28954602,
 'country_Kazakhstan': -4083036.395957716,
 'country_Kenya': 3342609.869783066,
 'country_Kiribati': -9324374.042010128,
 'country_Korea, Dem. Rep.': -18083389.60720843,
 'country_Korea, Rep.': 7250346.25123902,
 'country_Kuwait': 9097229.78201881,
 'country_Kyrgyz Republic': -11950312.095032625,
 'country_Lao PDR': -9698538.339434128,
 'country_Latvia': 5386522.886094831,
 'country_Lebanon': 17714.919545300305,
 'country_Lesotho': 2428530.5880251303,
 'country_Liberia': -5325143.070725486,
 'country_Libya': 92066.84692197666,
 'country_Liechtenstein': 4514016.4215026945,
 'country_Lithuania': 5236185.410970218,
 'country_Luxembourg': 5882282.663360931,
 'country_Macao SAR, China': 9123361.512154076,
 'country_Macedonia, FYR': -3156908.0934594944,
 'country_Madagascar': -5356800.006449841,
 'country_Malawi': -5841841.950946387,
 'country_Malaysia': 321241.97899658605,
 'country_Maldives': 5748696.381680086,
 'country_Mali': -5489184.092342356,
 'country_Malta': 8822824.818785489,
 'country_Marshall Islands': -282200.02999397554,
 'country_Mauritania': 2837564.216932416,
 'country_Mauritius': 11621778.017912235,
 'country_Mexico': -2778525.680533502,
 'country_Micronesia, Fed. Sts.': -9420888.134096444,
 'country_Moldova': -11893552.839831427,
 'country_Monaco': 6550942.64872391,
 'country_Mongolia': -8864461.386373356,
 'country_Montenegro': -3408051.5322080813,
 'country_Morocco': -8946383.984366369,
 'country_Mozambique': -5315654.658646869,
 'country_Myanmar': -9040883.476542331,
 'country_Namibia': 11204535.87358877,
 'country_Nepal': -10665171.224912971,
 'country_Netherlands': 4792317.957390169,
 'country_New Caledonia': 8030189.193679556,
 'country_New Zealand': 8379718.344237991,
 'country_Nicaragua': -9401443.678002696,
 'country_Niger': -5735303.645813621,
 'country_Nigeria': 7336160.676699217,
 'country_Northern Mariana Islands': 8471152.223632814,
 'country_Norway': 5770546.541278608,
 'country_Oman': 8004953.85509938,
 'country_Pakistan': 320167.0753901787,
 'country_Palau': 8244354.693491084,
 'country_Panama': -888739.1801156267,
 'country_Papua New Guinea': -9549940.812353173,
 'country_Paraguay': -1022270.8811574914,
 'country_Peru': -886766.3061040882,
 'country_Philippines': -8166936.9393562805,
 'country_Poland': 2914601.2011304647,
 'country_Portugal': 4864134.858451787,
 'country_Puerto Rico': 7834385.10174506,
 'country_Qatar': 8811587.455523998,
 'country_Romania': -4362988.352463357,
 'country_Russian Federation': -15849535.562921315,
 'country_Rwanda': -6030096.690798745,
 'country_Samoa': -1080928.1438524611,
 'country_San Marino': 5954812.772768112,
 'country_Sao Tome and Principe': 3080563.9936052784,
 'country_Saudi Arabia': 10740972.675310798,
 'country_Senegal': -5267486.655397784,
 'country_Serbia': -3582247.8269433193,
 'country_Seychelles': 20110404.537469205,
 'country_Sierra Leone': -5473256.225553464,
 'country_Singapore': 8817718.709909793,
 'country_Slovak Republic': 5002586.542659394,
 'country_Slovenia': 5097907.16925218,
 'country_Solomon Islands': -9915798.210451923,
 'country_Somalia': -5482327.26040376,
 'country_South Africa': 12298601.841603357,
 'country_South Sudan': -5805006.036205184,
 'country_Spain': 2331517.4456186257,
 'country_Sri Lanka': -2484872.538307626,
 'country_St. Kitts and Nevis': 7216201.9107167125,
 'country_St. Lucia': -1450229.0637734942,
 'country_St. Vincent and the Grenadines': -1199117.2910453563,
 'country_Sudan': 3456073.095690176,
 'country_Suriname': -747412.3768048652,
 'country_Swaziland': 2553561.0620022938,
 'country_Sweden': 4946714.402057774,
 'country_Switzerland': 5144124.8329506945,
 'country_Syrian Arab Republic': -8759569.618163317,
 'country_Tajikistan': -12042391.703412957,
 'country_Tanzania': -4889010.561432288,
 'country_Thailand': -557343.9859016761,
 'country_Timor-Leste': -9656860.899837427,
 'country_Togo': -5535537.580196198,
 'country_Tonga': -1076741.9007217754,
 'country_Trinidad and Tobago': 6683466.138201512,
 'country_Tunisia': -8887829.419641972,
 'country_Turkey': -2908595.0247701555,
 'country_Turkmenistan': -3315614.6126354635,
 'country_Turks and Caicos Islands': 7600492.824513905,
 'country_Tuvalu': -908505.8923005089,
 'country_Uganda': -5427180.562218709,
 'country_Ukraine': -15865823.98851718,
 'country_United Arab Emirates': 8845014.997999325,
 'country_United Kingdom': -666023.1149717346,
 'country_United States': -9761734.909263477,
 'country_Uruguay': 7998800.166370716,
 'country_Uzbekistan': -12045805.139257606,
 'country_Vanuatu': -9784244.281827684,
 'country_Venezuela, RB': 13893.864409931004,
 'country_Vietnam': -8045498.118712084,
 'country_Virgin Islands (U.S.)': 8194026.478052732,
 'country_West Bank and Gaza': -8500352.777916595,
 'country_Yemen, Rep.': -9142375.748153593,
 'country_Zambia': 3166261.006455999,
 'country_Zimbabwe': -5384868.787575061,
 'World bank region_East Asia & Pacific': 2079418.6990190744,
 'World bank region_Europe & Central Asia': 4791346.569700956,
 'World bank region_Latin America & Caribbean': 2532218.0547739267,
 'World bank region_Middle East & North Africa': 2107262.371866919,
 'World bank region_North America': 3630769.8201489747,
 'World bank region_South Asia': -4959392.700093955,
 'World bank region_Sub-Saharan Africa': -10181703.325223267}

## Scaling Data, Determining Parameters, and Setting Up Pipeline for Lasso

In [15]:
# Setting up the steps for the pipeline--ensuring data is scaled because values can range from 0 < x < 1 to 
# x > 1,000,000,000 depending on the feature
# With so many features (230), I am assuming that not all features are important and that some are more important than
# others. For that reason, I have chosen a Lasso Regression model in order to shrink "unimportant" features' 
# coefficients to 0.
steps = [('scaler', StandardScaler()),
        ('lasso', Lasso(tol=0.01))]

In [16]:
# Setting up the pipeline with the steps
pipeline = Pipeline(steps)

In [17]:
# Setting up the parameters: testing 8 possible values to find the best alpha constant 
param_grid = {'lasso__alpha': np.logspace(-7, 7, 8)}

In [18]:
# Using gridsearch and cross validation to find best parameters
gscv = GridSearchCV(pipeline, param_grid, scoring='neg_root_mean_squared_error')

In [19]:
# Fitting the model to the training data
gscv.fit(X_train, y_train)

GridSearchCV(estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('lasso', Lasso(tol=0.01))]),
             param_grid={'lasso__alpha': array([1.e-07, 1.e-05, 1.e-03, 1.e-01, 1.e+01, 1.e+03, 1.e+05, 1.e+07])},
             scoring='neg_root_mean_squared_error')

In [20]:
# Using the model to predict on the unseen test data
y_pred = gscv.predict(X_test)

In [21]:
# Determining the best value for Lasso's constant "alpha"
chosen_alpha = gscv.best_params_['lasso__alpha']
print(gscv.best_params_)

{'lasso__alpha': 100000.0}

In [22]:
rmse_score = gscv.score(X_test, y_test) #looking at rmse metric
r_squared_lasso = r2_score(y_test, y_pred)
print('R-squared:', r_squared_lasso)
print('Root Mean Squared Error:', rmse_score)

R-squared: 0.9976172342050545
Root Mean Squared Error: -1750181.855973187

In [23]:
# Mean cross-validated score of the best_estimator
gscv.best_score_

-2637290.9833209715

In [24]:
gscv.scorer_

make_scorer(mean_squared_error, greater_is_better=False, squared=False)

In [25]:
# Determining the best Lasso model
my_model = gscv.best_estimator_
my_model

Pipeline(steps=[('scaler', StandardScaler()),
                ('lasso', Lasso(alpha=100000.0, tol=0.01))])

In [26]:
# Using the best model to predict on the data that was held out of the training set in order to test how well model 
# evaluates unseen data
my_model.predict(X_test)

array([ 1.01567154e+08,  5.88829976e+07,  3.38628512e+07, ...,
       -2.80803369e+05,  6.30175085e+06,  1.12235337e+07])

In [27]:
# Looking at Lasso coefficients
lasso_coef = my_model.named_steps['lasso'].coef_
lasso_coef

array([-0.00000000e+00,  6.11134370e+04,  2.59377504e+05,  0.00000000e+00,
        3.27053033e+07,  0.00000000e+00, -0.00000000e+00, -3.84719380e+05,
        5.75779026e-10, -3.16607880e+06,  1.91551678e+07,  2.87253558e+04,
       -0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
       -0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  7.12044853e+04,
        0.00000000e+00,  0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
       -0.00000000e+00, -0.00000000e+00, -0.00000000e+00, -9.15756760e+05,
        0.00000000e+00, -0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00, -0.00000000e+00,  6.66815807e+04,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  5.84152168e+05,  0.00000000e+00,
       -0.00000000e+00, -0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
       -0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
       -9.80947632e+06,  0.00000000e+00,  0.00000000e+00, -1.23692843e+05,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -0.00000000e+00,  0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
        0.00000000e+00, -0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -1.83595269e+05,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00, -4.70239209e+05,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
       -0.00000000e+00, -0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
       -0.00000000e+00, -0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
       -0.00000000e+00, -9.07031627e+06, -9.79669302e+05,  2.83613576e+02,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -2.64071885e+04, -0.00000000e+00,  1.20511739e+05,  0.00000000e+00,
       -0.00000000e+00, -1.02362809e+05,  0.00000000e+00, -0.00000000e+00,
        2.68202224e+04, -0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
       -0.00000000e+00,  0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
        0.00000000e+00,  5.64663955e+04, -0.00000000e+00, -0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  1.75331332e+05,
        0.00000000e+00,  0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
        0.00000000e+00, -0.00000000e+00, -0.00000000e+00, -2.96021997e+05,
        0.00000000e+00, -0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -0.00000000e+00, -3.01007067e+05,
       -0.00000000e+00,  0.00000000e+00,  0.00000000e+00, -6.36478731e+05,
        0.00000000e+00,  0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
        0.00000000e+00, -8.19521579e+04, -1.74731283e+04, -0.00000000e+00,
       -0.00000000e+00, -0.00000000e+00, -1.72841656e+04, -0.00000000e+00,
       -0.00000000e+00,  0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
        5.43433325e+04,  0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00, -0.00000000e+00, -0.00000000e+00,
        0.00000000e+00, -0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00, -0.00000000e+00, -0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
       -1.27058252e+05, -3.55171610e+05,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00,  0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
        0.00000000e+00, -0.00000000e+00,  0.00000000e+00, -7.21433213e+04,
       -3.01056328e+04,  0.00000000e+00,  0.00000000e+00,  4.75083575e+05,
       -0.00000000e+00, -0.00000000e+00,  0.00000000e+00,  4.60927542e+04,
       -5.95153832e+05, -0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
       -0.00000000e+00, -0.00000000e+00,  0.00000000e+00, -0.00000000e+00,
        9.91983289e+04,  0.00000000e+00,  0.00000000e+00, -2.90255619e+05,
       -0.00000000e+00])

In [28]:
# Looking for non-zero Lasso coefficients
lasso_coef_num = lasso_coef[lasso_coef != 0]
lasso_coef_num

array([ 6.11134370e+04,  2.59377504e+05,  3.27053033e+07, -3.84719380e+05,
        5.75779026e-10, -3.16607880e+06,  1.91551678e+07,  2.87253558e+04,
        7.12044853e+04, -9.15756760e+05,  6.66815807e+04,  5.84152168e+05,
       -9.80947632e+06, -1.23692843e+05, -1.83595269e+05, -4.70239209e+05,
       -9.07031627e+06, -9.79669302e+05,  2.83613576e+02, -2.64071885e+04,
        1.20511739e+05, -1.02362809e+05,  2.68202224e+04,  5.64663955e+04,
        1.75331332e+05, -2.96021997e+05, -3.01007067e+05, -6.36478731e+05,
       -8.19521579e+04, -1.74731283e+04, -1.72841656e+04,  5.43433325e+04,
       -1.27058252e+05, -3.55171610e+05, -7.21433213e+04, -3.01056328e+04,
        4.75083575e+05,  4.60927542e+04, -5.95153832e+05,  9.91983289e+04,
       -2.90255619e+05])

In [29]:
# Determining how many features have a non-zero Lasso coefficient
len(lasso_coef_num)

41

In [30]:
# Determining the names of the features with non-zero Lasso coefficients
lasso_coef_name = X_train.columns[lasso_coef != 0]
lasso_coef_name

Index(['World bank, 4 income groups 2017',
       'Adjusted savings: mineral depletion (current US$)',
       'Population (Total)', 'Rural population (% of total population)',
       'Urban population (% of total)', 'Rural population', 'Urban population',
       'Urban population growth (annual %)', 'country_Argentina',
       'country_Bangladesh', 'country_Bhutan', 'country_Brazil',
       'country_China', 'country_Congo, Dem. Rep.', 'country_Egypt, Arab Rep.',
       'country_Ethiopia', 'country_India', 'country_Indonesia',
       'country_Iran, Islamic Rep.', 'country_Italy', 'country_Japan',
       'country_Kenya', 'country_Korea, Rep.', 'country_Maldives',
       'country_Mexico', 'country_Myanmar', 'country_Nigeria',
       'country_Pakistan', 'country_Philippines', 'country_Poland',
       'country_Romania', 'country_Saudi Arabia', 'country_Tanzania',
       'country_Thailand', 'country_Uganda', 'country_Ukraine',
       'country_United States', 'country_Venezuela, RB', 'country_Vietnam',
       'World bank region_Latin America & Caribbean',
       'World bank region_South Asia'],
      dtype='object')

In [31]:
# Ensuring that the lengths of the arrays ate the same
assert len(lasso_coef_num) == len(lasso_coef_name)

# Mapping the column name with the associated Lasso coefficient
feature_coef_dict = {lasso_coef_name[i]: lasso_coef_num[i] for i in range(len(lasso_coef_name))}
feature_coef_dict

{'World bank, 4 income groups 2017': 61113.43702069456,
 'Adjusted savings: mineral depletion (current US$)': 259377.50361377557,
 'Population (Total)': 32705303.313617587,
 'Rural population (% of total population)': -384719.37990910385,
 'Urban population (% of total)': 5.757790260373901e-10,
 'Rural population': -3166078.7962525734,
 'Urban population': 19155167.8151746,
 'Urban population growth (annual %)': 28725.355816635383,
 'country_Argentina': 71204.48525460706,
 'country_Bangladesh': -915756.7598416574,
 'country_Bhutan': 66681.58074782489,
 'country_Brazil': 584152.1675506077,
 'country_China': -9809476.318619,
 'country_Congo, Dem. Rep.': -123692.84282727749,
 'country_Egypt, Arab Rep.': -183595.26874985336,
 'country_Ethiopia': -470239.20930828166,
 'country_India': -9070316.274736281,
 'country_Indonesia': -979669.30216603,
 'country_Iran, Islamic Rep.': 283.6135758186534,
 'country_Italy': -26407.188457454682,
 'country_Japan': 120511.73914082162,
 'country_Kenya': -102362.80909705651,
 'country_Korea, Rep.': 26820.222446152362,
 'country_Maldives': 56466.39551142913,
 'country_Mexico': 175331.3320196923,
 'country_Myanmar': -296021.9974048322,
 'country_Nigeria': -301007.06684330653,
 'country_Pakistan': -636478.730657868,
 'country_Philippines': -81952.15786593777,
 'country_Poland': -17473.128328912753,
 'country_Romania': -17284.165592544967,
 'country_Saudi Arabia': 54343.33248690427,
 'country_Tanzania': -127058.25223402378,
 'country_Thailand': -355171.60984895704,
 'country_Uganda': -72143.3213133691,
 'country_Ukraine': -30105.63280880963,
 'country_United States': 475083.5746079163,
 'country_Venezuela, RB': 46092.75423329625,
 'country_Vietnam': -595153.8316098977,
 'World bank region_Latin America & Caribbean': 99198.32887143378,
 'World bank region_South Asia': -290255.619451822}

Above, we see that 8 features that weren't one-hot encoded were chosen. The model also selected two one-hot encoded regions and 31 one-hot encoded countries. We will keep this in mind for the next model.

## Predicting the Population for 2008 using a Lasso model and data from 2003

In [32]:
# Reading in 2003 dataframe
df_2003 = pd.read_csv('data_2003.csv', header=0)
df_2003 = df_2003.drop('Unnamed: 0', axis=1)
df_2003

,country,year,World bank region,"World bank, 4 income groups 2017",Adjusted savings: mineral depletion (current US$),Adjusted savings: energy depletion (current US$),Population (Total),Population growth (annual %),Population density (people per sq. km of land area),Rural population (% of total population),Urban population (% of total),Rural population,Urban population,Urban population growth (annual %),Urban population 5 years in the future
0,Afghanistan,2003,South Asia,Low income,0.000000e+00,2.049705e+05,23116142.0,4.031248,35.441703,78.6376,21.3624,18177979.0,4938163.0,5.254873,720689.0
1,Albania,2003,Europe & Central Asia,Upper middle income,0.000000e+00,4.692363e+07,3033659.0,-0.583987,110.717482,55.2212,44.7788,1675223.0,1358436.0,1.703278,6178697.0
2,Algeria,2003,Middle East & North Africa,Upper middle income,1.792483e+07,1.460891e+10,33003442.0,1.312884,13.856862,35.6718,64.3282,11772922.0,21230520.0,3.164894,20277.0
3,American Samoa,2003,East Asia & Pacific,Upper middle income,0.000000e+00,0.000000e+00,59117.0,0.658489,295.585000,9.7238,90.2762,5748.0,53369.0,1.217826,22319.0
4,Andorra,2003,Europe & Central Asia,High income,0.000000e+00,0.000000e+00,75643.0,5.438529,160.942553,8.8650,91.1350,6706.0,68937.0,4.978505,1027593.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Virgin Islands (U.S.),2003,Latin America & Caribbean,High income,0.000000e+00,0.000000e+00,108085.0,-0.113735,308.814286,6.4258,93.5742,6945.0,101140.0,0.225685,0.0
206,West Bank and Gaza,2003,Middle East & North Africa,Lower middle income,0.000000e+00,0.000000e+00,3154969.0,2.555248,524.081229,27.3758,72.6242,863698.0,2291271.0,2.856446,875444.0
207,"Yemen, Rep.",2003,Middle East & North Africa,Lower middle income,0.000000e+00,2.585782e+09,19081306.0,2.818175,36.140891,72.1316,27.8684,13763651.0,5317655.0,4.752199,1442678.0
208,Zambia,2003,Sub-Saharan Africa,Lower middle income,3.429587e+07,5.705385e+05,10894519.0,2.501029,14.655186,64.1120,35.8880,6984694.0,3909825.0,3.514839,1023611.0
209,Zimbabwe,2003,Sub-Saharan Africa,Low income,6.419160e+07,9.836209e+06,12673103.0,0.254254,32.759734,64.9808,35.0192,8235084.0,4438019.0,1.462004,0.0

In [33]:
# Using the mapper from the first part for ordinal income group feature
df_2003['World bank, 4 income groups 2017'] = df_2003['World bank, 4 income groups 2017'].replace(mapper)

In [34]:
# Dropping the empty column that we will attempt to predict
df_2003.drop('Urban population 5 years in the future', axis=1, inplace=True)

In [35]:
# Getting dummies for "country" and "World bank region" columns so that data is the same shape
df_2003_X = pd.get_dummies(df_2003, columns=['country', 'World bank region'])
df_2003_X

,year,"World bank, 4 income groups 2017",Adjusted savings: mineral depletion (current US$),Adjusted savings: energy depletion (current US$),Population (Total),Population growth (annual %),Population density (people per sq. km of land area),Rural population (% of total population),Urban population (% of total),Rural population,...,"country_Yemen, Rep.",country_Zambia,country_Zimbabwe,World bank region_East Asia & Pacific,World bank region_Europe & Central Asia,World bank region_Latin America & Caribbean,World bank region_Middle East & North Africa,World bank region_North America,World bank region_South Asia,World bank region_Sub-Saharan Africa
0,2003,0,0.000000e+00,2.049705e+05,23116142.0,4.031248,35.441703,78.6376,21.3624,18177979.0,...,0,0,0,0,0,0,0,0,1,0
1,2003,2,0.000000e+00,4.692363e+07,3033659.0,-0.583987,110.717482,55.2212,44.7788,1675223.0,...,0,0,0,0,1,0,0,0,0,0
2,2003,2,1.792483e+07,1.460891e+10,33003442.0,1.312884,13.856862,35.6718,64.3282,11772922.0,...,0,0,0,0,0,0,1,0,0,0
3,2003,2,0.000000e+00,0.000000e+00,59117.0,0.658489,295.585000,9.7238,90.2762,5748.0,...,0,0,0,1,0,0,0,0,0,0
4,2003,3,0.000000e+00,0.000000e+00,75643.0,5.438529,160.942553,8.8650,91.1350,6706.0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,2003,3,0.000000e+00,0.000000e+00,108085.0,-0.113735,308.814286,6.4258,93.5742,6945.0,...,0,0,0,0,0,1,0,0,0,0
206,2003,1,0.000000e+00,0.000000e+00,3154969.0,2.555248,524.081229,27.3758,72.6242,863698.0,...,0,0,0,0,0,0,1,0,0,0
207,2003,1,0.000000e+00,2.585782e+09,19081306.0,2.818175,36.140891,72.1316,27.8684,13763651.0,...,1,0,0,0,0,0,1,0,0,0
208,2003,1,3.429587e+07,5.705385e+05,10894519.0,2.501029,14.655186,64.1120,35.8880,6984694.0,...,0,1,0,0,0,0,0,0,0,1
209,2003,0,6.419160e+07,9.836209e+06,12673103.0,0.254254,32.759734,64.9808,35.0192,8235084.0,...,0,0,1,0,0,0,0,0,0,1

In [36]:
# Predicting urban population for 2008
pop_2008 = abs(my_model.predict(df_2003_X).astype(int))
pop_2008

array([  7342034,   1252175,  22897718,    267973,    395286,   9150224,
          358320,  34700451,   1867784,     80307,  20997582,   5666997,
         4716152,    682650,    949254,  46442945,     94187,   7198782,
         9822027,     40291,   3506274,    477315,    967089,   6250070,
         1722156,    931616, 159427507,    282063,   5666148,   4297525,
         1366530,     48963,   4308753,   9663248,  26454625,    742085,
         1318120,   3000816,    582845,  16841967, 556702361,  32089591,
          586290,  21672521,   1969144,   2844107,   9242341,   2540085,
         9064468,    684186,   7746551,   4694963,    538905,    151933,
         6557606,   9160492,  35755855,   4018829,    256075,    841152,
          932089,  19692222,    485280,     74792,   4420186,  49757416,
          165859,   1182672,    369117,   2250336,  62379798,  11403741,
         7212588,    190270,    306576,    447881,   6790973,   3815370,
           45067,    132802,   4550178,   3685068,   6658940,   7041620,
          563882, 386834719, 110323346,  48671319,  18511826,   2490850,
          286564,   6138738,  40671768,   1562538, 106471512,   4177177,
         9392431,  11859632,    509874,  15326322,  39009620,   2359137,
         1921290,   1706260,   1556588,   3298973,     65100,   1219230,
         4228561,    891251,   2324442,    547928,    846107,   1121597,
         7185860,   3594631,  17418608,   1177536,   4630354,    667579,
           79569,   1099283,    149890,  86660150,    863967,   1456285,
          452546,   1431695,    176496,  18411296,   8614613,  18185478,
          366337,   6719298,  12945882,     12776,   3640685,   3295672,
         3767809,  70640319,    308964,   3622866,   1796173,  65848627,
           62937,   2527336,   1444732,   3688061,  21048315,  47541588,
        25690021,   6512156,   4084901,   1020335,  12848765, 110396576,
         2536043,    789208,    366782,    246096,  19343847,   5190012,
         4359283,    302904,   1769946,   4215526,   3180401,    860718,
          759197,   3324181,  31329304,   1920756,  32854174,   4850988,
          345340,    512386,    148640,  14093055,    467929,    447237,
         7604454,   5562145,  10416304,   2145350,  13425202,  25352618,
          386372,   1916415,    787475,    213302,   6638168,  46650640,
         2256392,    591287,    441526,   7716405,  33733072,   2903549,
        47338536, 240340040,   3451786,  12854008,    776816,  23935225,
        27125333,    666298,   2276201,   8065133,   4978386,   5754390])

In [37]:
# Dataframe of country and prediction
country_pop_prediction = pd.DataFrame({'Country': df['country'].unique(), 'Population in 2008': pop_2008})
country_pop_prediction

                   Country  Population in 2008
0              Afghanistan             7342034
1                  Albania             1252175
2                  Algeria            22897718
3           American Samoa              267973
4                  Andorra              395286
..                     ...                 ...
205  Virgin Islands (U.S.)              666298
206     West Bank and Gaza             2276201
207            Yemen, Rep.             8065133
208                 Zambia             4978386
209               Zimbabwe             5754390

[210 rows x 2 columns]

In [38]:
# Urban population data for 2007
pop_2007 = df['Urban population 5 years in the future'].loc[df['year']==2002]
pop_2007

30       5908765
61       1441361
92      24154838
123        53263
154        72597
          ...
6364      101661
6377     2568098
6408     6367019
6439     4535925
6470     4684302
Name: Urban population 5 years in the future, Length: 210, dtype: int64

In [39]:
# Dataframe comparing urban population in 2007 and 2008 for each country
pop_2007_2008 = pd.DataFrame({'Country': df['country'].unique(), 'Population in 2007': pop_2007, 
                              'Population in 2008': pop_2008}).reset_index(drop=True)
pop_2007_2008

                   Country  Population in 2007  Population in 2008
0              Afghanistan             5908765             7342034
1                  Albania             1441361             1252175
2                  Algeria            24154838            22897718
3           American Samoa               53263              267973
4                  Andorra               72597              395286
..                     ...                 ...                 ...
205  Virgin Islands (U.S.)              101661              666298
206     West Bank and Gaza             2568098             2276201
207            Yemen, Rep.             6367019             8065133
208                 Zambia             4535925             4978386
209               Zimbabwe             4684302             5754390

[210 rows x 3 columns]

In [40]:
# By selecting a country with a much smaller population, we can compare the actual population for 2007 with the
# prediction for 2008 to spot check the model's predictions. Here, we see that the prediction is significantly higher
# than the previous year's population. This country must have had a great deal on houses if the population increased
# that much in a single year.
pop_2007_2008.iloc[6]

Country               Antigua and Barbuda
Population in 2007                  25600
Population in 2008                 358320
Name: 6, dtype: object

## Using the Basic Linear Regression Model (the First Model) to Predict from 2003's data

In [41]:
linreg_2008_prediction = abs(reg0.predict(df_2003_X).astype(int))
linreg_2008_prediction

array([  5642071,   1259158,  24552559,    335758,     82052,   9325741,
            8362,  37739645,   1828945,     81970,  17469109,   5438722,
         4468114,     70290,    728106,  41124955,     43604,   7172955,
        10254383,     90973,   3428639,      6945,    194008,   6355459,
         1616689,    269130, 171207000,     79509,   5289230,   2884063,
          561078,    280660,   2682937,   9465684,  26588963,    131238,
         1447757,   2113078,     36229,  14398427, 619830069,  34687511,
           26396,  17855435,   2076415,   2616437,   8836188,   2366579,
         8802770,    506009,   7487645,   4510073,    300925,    159622,
         6428542,   9399518,  32730607,   3750403,     53393,    925663,
          825160,  12459804,    111502,     96040,   4345772,  52710375,
           84051,    570037,    297322,   2128853,  61323196,  10915984,
         6883267,    120838,     87920,    155005,   6326345,   3221737,
          231042,    170289,   4206258,   3412593,   7178441,   6571871,
          110567, 358767378, 116357977,  52711857,  20175612,   2501312,
           30916,   6847004,  39303175,   1275763, 113066372,   4621532,
         7815789,   8175956,    305107,  15105982,  44003652,   1891841,
         1830309,   1443561,   1362092,   3572307,    176895,   1390494,
         4382050,     47532,   2086440,    248992,    334941,   1085879,
         5543016,   1767055,  19027682,    134493,   3756265,    258959,
          351785,    984824,    467788,  92125171,     72414,   1412835,
           54742,   1471630,    116732,  18342487,   6679002,  15751090,
          521556,   3897681,  13608023,     49932,   3638101,   3147995,
         2148804,  70642968,    540522,   2564999,   1332159,  60183669,
          226369,   2248410,    536236,   3525804,  22904243,  46126109,
        24554437,   6258646,   3555216,    384096,  11620478, 105523498,
         1422687,     97220,    258850,    302893,  21057833,   4905865,
         4015648,    255160,   1936984,   4327541,   2945560,    862058,
           92398,   3028981,  31049093,   1312612,  34440877,   2905101,
           53433,    263031,    242091,  11240171,    134982,    125119,
         7704903,   5602346,  10398523,   1891176,   9985083,  22863078,
          161755,   1910185,     95256,     36635,   6959321,  50701947,
         2350981,    378059,    448778,   3793635,  32792798,   2749647,
        47367438, 252792594,   3026516,   9950944,    185614,  26770667,
        24095820,    304225,   2568081,   6054677,   4507988,   4826373])

In [42]:
pop_comparison = pd.DataFrame({'Country': df['country'].unique(), 'Population in 2007': pop_2007, 
                              'Population in 2008 (Lasso)': pop_2008, 
                              'Population in 2008 (Linear Regression)': 
                               linreg_2008_prediction}).reset_index(drop=True)
pop_comparison

,Country,Population in 2007,Population in 2008 (Lasso),Population in 2008 (Linear Regression)
0,Afghanistan,5908765,7342034,5642071
1,Albania,1441361,1252175,1259158
2,Algeria,24154838,22897718,24552559
3,American Samoa,53263,267973,335758
4,Andorra,72597,395286,82052
...,...,...,...,...
205,Virgin Islands (U.S.),101661,666298,304225
206,West Bank and Gaza,2568098,2276201,2568081
207,"Yemen, Rep.",6367019,8065133,6054677
208,Zambia,4535925,4978386,4507988
209,Zimbabwe,4684302,5754390,4826373

---

## Scaling Selected Features for Optimized Linear Regression Model

In [43]:
# Narrowing down features from Lasso Model results using the feature selection results from Cell #28
opt_features_df = df[['country', 'year', 'World bank region', 'World bank, 4 income groups 2017', 
                'Adjusted savings: mineral depletion (current US$)', 'Population (Total)', 
                'Rural population (% of total population)', 'Urban population (% of total)', 
                'Rural population', 'Urban population', 'Urban population growth (annual %)',
                 'Urban population 5 years in the future']]
opt_features_df

,country,year,World bank region,"World bank, 4 income groups 2017",Adjusted savings: mineral depletion (current US$),Population (Total),Rural population (% of total population),Urban population (% of total),Rural population,Urban population,Urban population growth (annual %),Urban population 5 years in the future
0,Afghanistan,1972,South Asia,0,0.000000e+00,11644377.0,88.0702,11.9298,10255226.0,1389151.0,6.634620,1855690
1,Afghanistan,1973,South Asia,0,0.000000e+00,11966352.0,87.6208,12.3792,10485013.0,1481339.0,6.425364,1942479
2,Afghanistan,1974,South Asia,0,0.000000e+00,12273589.0,87.1714,12.8286,10699059.0,1574530.0,6.101041,2014500
3,Afghanistan,1975,South Asia,0,0.000000e+00,12551790.0,86.7220,13.2780,10885163.0,1666627.0,5.684501,2066033
4,Afghanistan,1976,South Asia,0,0.000000e+00,12806810.0,86.2426,13.7574,11044926.0,1761884.0,5.558187,2064276
...,...,...,...,...,...,...,...,...,...,...,...,...
6466,Zimbabwe,1998,Sub-Saharan Africa,0,3.574371e+06,12229500.0,67.0524,32.9476,8200173.0,4029327.0,2.750848,4438019
6467,Zimbabwe,1999,Sub-Saharan Africa,0,1.121581e+07,12384727.0,66.6472,33.3528,8254074.0,4130653.0,2.483614,4498365
6468,Zimbabwe,2000,Sub-Saharan Africa,0,2.259094e+07,12503652.0,66.2420,33.7580,8282669.0,4220983.0,2.163253,4558017
6469,Zimbabwe,2001,Sub-Saharan Africa,0,1.491629e+07,12586763.0,65.8216,34.1784,8284809.0,4301954.0,1.900130,4620705
6470,Zimbabwe,2002,Sub-Saharan Africa,0,2.946757e+07,12640922.0,65.4012,34.5988,8267315.0,4373607.0,1.651873,4684302

In [44]:
# Getting dummies for narrowed down dataframe
opt_feat_df_dummies = pd.get_dummies(opt_features_df, columns=['country', 'World bank region'])
opt_feat_df_dummies

,year,"World bank, 4 income groups 2017",Adjusted savings: mineral depletion (current US$),Population (Total),Rural population (% of total population),Urban population (% of total),Rural population,Urban population,Urban population growth (annual %),Urban population 5 years in the future,...,"country_Yemen, Rep.",country_Zambia,country_Zimbabwe,World bank region_East Asia & Pacific,World bank region_Europe & Central Asia,World bank region_Latin America & Caribbean,World bank region_Middle East & North Africa,World bank region_North America,World bank region_South Asia,World bank region_Sub-Saharan Africa
0,1972,0,0.000000e+00,11644377.0,88.0702,11.9298,10255226.0,1389151.0,6.634620,1855690,...,0,0,0,0,0,0,0,0,1,0
1,1973,0,0.000000e+00,11966352.0,87.6208,12.3792,10485013.0,1481339.0,6.425364,1942479,...,0,0,0,0,0,0,0,0,1,0
2,1974,0,0.000000e+00,12273589.0,87.1714,12.8286,10699059.0,1574530.0,6.101041,2014500,...,0,0,0,0,0,0,0,0,1,0
3,1975,0,0.000000e+00,12551790.0,86.7220,13.2780,10885163.0,1666627.0,5.684501,2066033,...,0,0,0,0,0,0,0,0,1,0
4,1976,0,0.000000e+00,12806810.0,86.2426,13.7574,11044926.0,1761884.0,5.558187,2064276,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6466,1998,0,3.574371e+06,12229500.0,67.0524,32.9476,8200173.0,4029327.0,2.750848,4438019,...,0,0,1,0,0,0,0,0,0,1
6467,1999,0,1.121581e+07,12384727.0,66.6472,33.3528,8254074.0,4130653.0,2.483614,4498365,...,0,0,1,0,0,0,0,0,0,1
6468,2000,0,2.259094e+07,12503652.0,66.2420,33.7580,8282669.0,4220983.0,2.163253,4558017,...,0,0,1,0,0,0,0,0,0,1
6469,2001,0,1.491629e+07,12586763.0,65.8216,34.1784,8284809.0,4301954.0,1.900130,4620705,...,0,0,1,0,0,0,0,0,0,1
6470,2002,0,2.946757e+07,12640922.0,65.4012,34.5988,8267315.0,4373607.0,1.651873,4684302,...,0,0,1,0,0,0,0,0,0,1

In [45]:
# Assign predictors to X and target feature to y
X_lr = opt_feat_df_dummies.drop('Urban population 5 years in the future', axis=1)
y_lr = opt_feat_df_dummies['Urban population 5 years in the future']

In [46]:
# Train-test split
X_lr_train, X_lr_test, y_lr_train, y_lr_test = train_test_split(X_lr, y_lr, test_size=0.2, 
                                                                random_state=rand_state)

In [47]:
# Scaling the data and building a linear regression model using the help of a pipeline
lr_pipeline = Pipeline(steps = [('scaler', StandardScaler()),
                                ('linear', LinearRegression())])

model = lr_pipeline.fit(X_lr_train, y_lr_train)

y_pred_lrp = abs(lr_pipeline.predict(X_lr_test))
r_squared_lrp = lr_pipeline.score(X_lr_test, y_lr_test)
rmse_lrp = np.sqrt(mean_squared_error(y_lr_test, y_pred_lrp))

print('R-squared:', r_squared_lrp)
print('Root Mean Squared Error:', rmse_lrp)

R-squared: 0.9993456241264517
Root Mean Squared Error: 915656.9016099151

In [48]:
# Looking at the coefficients
lrp_coef = model.named_steps['linear'].coef_
lrp_coef_name = X_lr_train.columns
lrp_feature_coef_dict = {lrp_coef_name[i]: lrp_coef[i] for i in range(len(lrp_coef_name))}
lrp_feature_coef_dict

{'year': -58126.768482118154,
 'World bank, 4 income groups 2017': -7.506746233614327e+18,
 'Adjusted savings: mineral depletion (current US$)': -215761.61027230707,
 'Population (Total)': -2.4202186836683747e+19,
 'Rural population (% of total population)': -1.0722505271128726e+19,
 'Urban population (% of total)': -1.0722505271129289e+19,
 'Rural population': 1.7510305277524048e+19,
 'Urban population': 7.698293839499402e+18,
 'Urban population growth (annual %)': 151536.5392387691,
 'country_Afghanistan': 5.786631925472191e+18,
 'country_Albania': -8.683576966536064e+17,
 'country_Algeria': 8.195480804932193e+17,
 'country_American Samoa': -4.0580794350017536e+17,
 'country_Andorra': -4.6352391606352877e+17,
 'country_Angola': -4.650929555879685e+18,
 'country_Antigua and Barbuda': -1.347931868208239e+18,
 'country_Argentina': -1.7119829404396454e+18,
 'country_Armenia': -1.3983539570105992e+18,
 'country_Aruba': -1.244567919966039e+18,
 'country_Australia': 7.011280657014995e+16,
 'country_Austria': -4.831632979979409e+17,
 'country_Azerbaijan': -8.897155643008279e+17,
 'country_Bahamas, The': -1.1894565859950113e+18,
 'country_Bahrain': 1.264970979269313e+18,
 'country_Bangladesh': 6.397476847499518e+18,
 'country_Barbados': -1.3479318682082363e+18,
 'country_Belarus': -1.0266572789022789e+18,
 'country_Belgium': -4.7344736716388154e+17,
 'country_Belize': -1.8541666760221837e+18,
 'country_Benin': -5.239395568280287e+18,
 'country_Bermuda': -1.0896091845728852e+19,
 'country_Bhutan': 6.39747684749919e+18,
 'country_Bolivia': -2.31650285341571e+18,
 'country_Bosnia and Herzegovina': -9.703825654386339e+17,
 'country_Botswana': -4.079982237605781e+18,
 'country_Brazil': -1.888007556861712e+18,
 'country_Brunei Darussalam': 7.452356999206963e+16,
 'country_Bulgaria': -1.0447281308713652e+18,
 'country_Burkina Faso': -4.92929590010645e+18,
 'country_Burundi': -5.338684152941157e+18,
 'country_Cabo Verde': -4.742575690462923e+18,
 'country_Cambodia': -8.832297186167224e+17,
 'country_Cameroon': -4.557404012722195e+18,
 'country_Canada': -9.91718055769673e+18,
 'country_Cayman Islands': -1.2445679199659663e+18,
 'country_Central African Republic': -4.821414253240404e+18,
 'country_Chad': -4.821414253240416e+18,
 'country_Channel Islands': -4.734473671638771e+17,
 'country_Chile': -1.3479318682081603e+18,
 'country_China': -4.141358003710871e+17,
 'country_Colombia': -1.7486342941349844e+18,
 'country_Comoros': -5.2393955682803e+18,
 'country_Congo, Dem. Rep.': -4.5979299672033106e+18,
 'country_Congo, Rep.': -4.742575690462881e+18,
 'country_Costa Rica': -1.7845191908187456e+18,
 "country_Cote d'Ivoire": -4.364228990363175e+18,
 'country_Croatia': -1.0082553469227261e+18,
 'country_Cuba': -1.8541666760222175e+18,
 'country_Cyprus': -4.831632979978913e+17,
 'country_Czech Republic': -5.0202053910877235e+17,
 'country_Denmark': -4.635239160635784e+17,
 'country_Djibouti': 3.288440276896609e+17,
 'country_Dominica': -1.8196829755983404e+18,
 'country_Dominican Republic': -1.7486342941349548e+18,
 'country_Ecuador': -1.7119829404395402e+18,
 'country_Egypt, Arab Rep.': 3.2272820267573286e+17,
 'country_El Salvador': -2.2717384582594345e+18,
 'country_Equatorial Guinea': -4.405173410070526e+18,
 'country_Eritrea': -5.338684152941138e+18,
 'country_Estonia': -4.8316329799788045e+17,
 'country_Ethiopia': -5.138148823320318e+18,
 'country_Faeroe Islands': -4.6352391606362e+17,
 'country_Fiji': -3.9730221390341786e+17,
 'country_Finland': -4.734473671638473e+17,
 'country_France': -4.53379318449942e+17,
 'country_French Polynesia': 7.011280657012045e+16,
 'country_Gabon': -4.0799822376057247e+18,
 'country_Gambia, The': -4.929295900106445e+18,
 'country_Georgia': -1.59594766162466e+18,
 'country_Germany': -4.831632979985285e+17,
 'country_Ghana': -4.3642289903631565e+18,
 'country_Greece': -4.831632979979426e+17,
 'country_Greenland': -4.635239160635448e+17,
 'country_Grenada': -1.71198294043957e+18,
 'country_Guam': 7.452356999211232e+16,
 'country_Guatemala': -2.445787010047105e+18,
 'country_Guinea': -5.239395568280276e+18,
 'country_Guinea-Bissau': -5.034825787838743e+18,
 'country_Guyana': -1.8541666760222129e+18,
 'country_Haiti': -2.7589577257001267e+18,
 'country_Honduras': -2.403481788525416e+18,
 'country_Hong Kong SAR, China': 7.30834670668217e+16,
 'country_Hungary': -4.831632979979543e+17,
 'country_Iceland': -4.7344736716380826e+17,
 'country_India': 6.637686231557089e+18,
 'country_Indonesia': -8.457921949370271e+17,
 'country_Iran, Islamic Rep.': 7.875492041528658e+17,
 'country_Iraq': 8.195480804931988e+17,
 'country_Ireland': -5.1118304723846605e+17,
 'country_Isle of Man': -4.8316329799791296e+17,
 'country_Israel': 1.2384572028146547e+18,
 'country_Italy': -4.4299838191516365e+17,
 'country_Jamaica': -1.8196829755983432e+18,
 'country_Japan': 7.593582063962342e+16,
 'country_Jordan': 3.348458460265503e+17,
 'country_Kazakhstan': -9.508691422803955e+17,
 'country_Kenya': -4.742575690462882e+18,
 'country_Kiribati': -9.013550678146043e+17,
 'country_Korea, Dem. Rep.': -1.2731434408108093e+18,
 'country_Korea, Rep.': 7.308346706675251e+16,
 'country_Kuwait': 1.1260622002152876e+18,
 'country_Kyrgyz Republic': -1.3364327466868285e+18,
 'country_Lao PDR': -9.013550678146324e+17,
 'country_Latvia': -4.734473671638364e+17,
 'country_Lebanon': 8.350788355036426e+17,
 'country_Lesotho': -4.3642289903632394e+18,
 'country_Liberia': -5.138148823320377e+18,
 'country_Libya': 7.368992781773384e+17,
 'country_Liechtenstein': -4.831632979979556e+17,
 'country_Lithuania': -4.635239160635976e+17,
 'country_Luxembourg': -4.3236408350693786e+17,
 'country_Macao SAR, China': 7.452356999213043e+16,
 'country_Macedonia, FYR': -9.309389365370954e+17,
 'country_Madagascar': -5.436121873398117e+18,
 'country_Malawi': -4.821414253240419e+18,
 'country_Malaysia': -4.0580794350016614e+17,
 'country_Maldives': 6.894296725316602e+18,
 'country_Mali': -4.929295900106435e+18,
 'country_Malta': 1.238457202814673e+18,
 'country_Marshall Islands': -4.141358003738765e+17,
 'country_Mauritania': -4.461880879632931e+18,
 'country_Mauritius': -4.163710288439006e+18,
 'country_Mexico': -1.5968969655521577e+18,
 'country_Micronesia, Fed. Sts.': -9.36533794987542e+17,
 'country_Moldova': -1.5144901547366876e+18,
 'country_Monaco': -4.635239160635138e+17,
 'country_Mongolia': -9.191161856426783e+17,
 'country_Montenegro': -9.895038636911142e+17,
 'country_Morocco': 3.2272820267580397e+17,
 'country_Mozambique': -4.821414253240381e+18,
 'country_Myanmar': -9.191161856426875e+17,
 'country_Namibia': -4.163710288439041e+18,
 'country_Nepal': 5.670268543189214e+18,
 'country_Netherlands': -4.831632979979495e+17,
 'country_New Caledonia': 7.161383161627085e+16,
 'country_New Zealand': 7.45235699920898e+16,
 'country_Nicaragua': -2.4034817885254077e+18,
 'country_Niger': -5.338684152941138e+18,
 'country_Nigeria': -4.650929555879429e+18,
 'country_Northern Mariana Islands': 6.539955826280653e+16,
 'country_Norway': -5.1118304723844326e+17,
 'country_Oman': 1.316367958310544e+18,
 'country_Pakistan': 6.754520395957904e+18,
 'country_Palau': 7.308346706682214e+16,
 'country_Panama': -1.7845191908187336e+18,
 'country_Papua New Guinea': -9.365337949875574e+17,
 'country_Paraguay': -1.711982940439554e+18,
 'country_Peru': -1.8196829755983414e+18,
 'country_Philippines': -9.365337949874552e+17,
 'country_Poland': -4.734473671640051e+17,
 'country_Portugal': -4.734473671638751e+17,
 'country_Puerto Rico': -1.3228630977809539e+18,
 'country_Qatar': 1.2909302968071803e+18,
 'country_Romania': -9.89503863691201e+17,
 'country_Russian Federation': -9.309389365380141e+17,
 'country_Rwanda': -5.239395568280324e+18,
 'country_Samoa': -4.1413580037393165e+17,
 'country_San Marino': -4.7344736716379994e+17,
 'country_Sao Tome and Principe': -4.742575690462903e+18,
 'country_Saudi Arabia': 1.238457202814682e+18,
 'country_Senegal': -5.338684152941105e+18,
 'country_Serbia': -6.146167711350938e+17,
 'country_Seychelles': -3.819979729499181e+18,
 'country_Sierra Leone': -5.531806534364131e+18,
 'country_Singapore': 7.011280657017216e+16,
 'country_Slovak Republic': -4.926839858737549e+17,
 'country_Slovenia': -4.734473671638536e+17,
 'country_Solomon Islands': -9.536267181687183e+17,
 'country_Somalia': -5.239395568280286e+18,
 'country_South Africa': -3.6319519187478733e+18,
 'country_South Sudan': -4.4819423506689935e+18,
 'country_Spain': -4.831632979981011e+17,
 'country_Sri Lanka': 6.518711523009166e+18,
 'country_St. Kitts and Nevis': -1.322863097780992e+18,
 'country_St. Lucia': -1.6361737683810732e+18,
 'country_St. Vincent and the Grenadines': -1.7845191908187523e+18,
 'country_Sudan': -4.461880879632892e+18,
 'country_Suriname': -1.8196829755983304e+18,
 'country_Swaziland': -4.742575690462941e+18,
 'country_Sweden': -4.8316329799792525e+17,
 'country_Switzerland': -5.0202053910873274e+17,
 'country_Syrian Arab Republic': 2.832161945031191e+17,
 'country_Tajikistan': -1.5144901547367017e+18,
 'country_Tanzania': -5.531806534364084e+18,
 'country_Thailand': -3.886069320603182e+17,
 'country_Timor-Leste': -8.647172343769508e+17,
 'country_Togo': -5.1381488233204e+18,
 'country_Tonga': -3.886069320603346e+17,
 'country_Trinidad and Tobago': -1.2972999233781036e+18,
 'country_Tunisia': 3.164917619257623e+17,
 'country_Turkey': -1.0082553469226785e+18,
 'country_Turkmenistan': -1.0082553469227149e+18,
 'country_Turks and Caicos Islands': -1.217329539563735e+18,
 'country_Tuvalu': -4.222963078253389e+17,
 'country_Uganda': -5.138148823320395e+18,
 'country_Ukraine': -1.4576018328795725e+18,
 'country_United Arab Emirates': 1.4134567767660314e+18,
 'country_United Kingdom': -4.9268398587419085e+17,
 'country_United States': -9.27937347404632e+18,
 'country_Uruguay': -1.3228630977809428e+18,
 'country_Uzbekistan': -1.3983539570106447e+18,
 'country_Vanuatu': -8.832297186167547e+17,
 'country_Venezuela, RB': -1.6361737683810094e+18,
 'country_Vietnam': -9.191161856426204e+17,
 'country_Virgin Islands (U.S.)': -1.2972999233779976e+18,
 'country_West Bank and Gaza': 2.1954844761740902e+17,
 'country_Yemen, Rep.': 3.288440276896205e+17,
 'country_Zambia': -4.742575690462896e+18,
 'country_Zimbabwe': -5.034825787838714e+18,
 'World bank region_East Asia & Pacific': -2.5775254832550273e+19,
 'World bank region_Europe & Central Asia': -2.6624747267143426e+19,
 'World bank region_Latin America & Caribbean': -1.8830824559338004e+19,
 'World bank region_Middle East & North Africa': -2.5584977560005747e+19,
 'World bank region_North America': 9.330920871458468e+18,
 'World bank region_South Asia': -3.399724910074595e+19,
 'World bank region_Sub-Saharan Africa': -6.022897555278381e+18}

In [49]:
# Since we are not using all features from the original dataset, we need to remove these extra features from 2003's
# dataset
df_2003_X_cols = df_2003_X.columns.intersection(X_lr.columns)
df_2003_X_lr = df_2003_X[df_2003_X_cols]
df_2003_X_lr

,year,"World bank, 4 income groups 2017",Adjusted savings: mineral depletion (current US$),Population (Total),Rural population (% of total population),Urban population (% of total),Rural population,Urban population,Urban population growth (annual %),country_Afghanistan,...,"country_Yemen, Rep.",country_Zambia,country_Zimbabwe,World bank region_East Asia & Pacific,World bank region_Europe & Central Asia,World bank region_Latin America & Caribbean,World bank region_Middle East & North Africa,World bank region_North America,World bank region_South Asia,World bank region_Sub-Saharan Africa
0,2003,0,0.000000e+00,23116142.0,78.6376,21.3624,18177979.0,4938163.0,5.254873,1,...,0,0,0,0,0,0,0,0,1,0
1,2003,2,0.000000e+00,3033659.0,55.2212,44.7788,1675223.0,1358436.0,1.703278,0,...,0,0,0,0,1,0,0,0,0,0
2,2003,2,1.792483e+07,33003442.0,35.6718,64.3282,11772922.0,21230520.0,3.164894,0,...,0,0,0,0,0,0,1,0,0,0
3,2003,2,0.000000e+00,59117.0,9.7238,90.2762,5748.0,53369.0,1.217826,0,...,0,0,0,1,0,0,0,0,0,0
4,2003,3,0.000000e+00,75643.0,8.8650,91.1350,6706.0,68937.0,4.978505,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,2003,3,0.000000e+00,108085.0,6.4258,93.5742,6945.0,101140.0,0.225685,0,...,0,0,0,0,0,1,0,0,0,0
206,2003,1,0.000000e+00,3154969.0,27.3758,72.6242,863698.0,2291271.0,2.856446,0,...,0,0,0,0,0,0,1,0,0,0
207,2003,1,0.000000e+00,19081306.0,72.1316,27.8684,13763651.0,5317655.0,4.752199,0,...,1,0,0,0,0,0,1,0,0,0
208,2003,1,3.429587e+07,10894519.0,64.1120,35.8880,6984694.0,3909825.0,3.514839,0,...,0,1,0,0,0,0,0,0,0,1
209,2003,0,6.419160e+07,12673103.0,64.9808,35.0192,8235084.0,4438019.0,1.462004,0,...,0,0,1,0,0,0,0,0,0,1

In [50]:
# Predictions using the scaled features in our Linear Regression model
scaled_linreg_2008_prediction = abs(lr_pipeline.predict(df_2003_X_lr).astype(int))
scaled_linreg_2008_prediction

array([  5397049,   1151545,  25023033,    359878,    197177,   9151033,
           30150,  38119993,   1856057,     19001,  17039929,   5337657,
         4561465,      5574,    823865,  41114169,     10809,   7197241,
        10285625,    182841,   3195449,     29241,    337350,   6375993,
         1446457,    254521, 170854969,     32198,   5257785,   2728505,
          541241,    490950,   2744889,   9626169,  27161145,     50630,
         1172025,   1950265,      7622,  13892153, 619569721,  34667065,
          130502,  17801785,   2048569,   2529849,   8782393,   2265657,
         8665657,    598585,   7567929,   4672057,    345145,    427462,
         6425145,   9394745,  32920121,   3709497,     15814,    934457,
          897593,  12321337,    153030,     33337,   4231737,  52787769,
          131641,    631353,    131641,   2079289,  61262393,  10977849,
         6836793,    130502,    165318,    163270,   6240825,   3162681,
           33337,    174649,   4250169,   3385913,   7062073,   6613561,
          140742, 358734393, 116277817,  53580345,  20329017,   2388537,
          159174,   6959673,  39254585,   1342009, 112984633,   4592185,
         8034873,   8094265,    220614,  15073849,  43991609,   2150969,
         1813049,   1475129,   1397305,   3589177,      8761,   1434169,
         4633145,      4665,   1952313,    279097,    361017,   1098297,
         5374521,   1688121,  19374649,     23097,   3629625,    332345,
          318918,    885305,    369209,  92682809,     16953,   1497657,
           52678,   1491513,     40390,  18281017,   6644281,  15843897,
          336441,   4020793,  13728313,      7622,   3654201,   3039801,
         2081337,  70836793,    523718,   3592761,   1520185,  60348985,
          146886,   2214457,    500281,   3449401,  22856249,  46072377,
        24531513,   6240825,   3488313,    586297,  11493945, 108438073,
         1352249,     48582,    239046,    368070,  22196793,   4825657,
         4051513,    294342,   1819193,   4391481,   2873913,    942649,
          130502,   2925113,  30868025,   1204793,  34507321,   2841145,
           78393,    384454,    232902,  11207225,    148025,    187846,
         7727673,   5669433,  10719801,   1942073,   9863737,  22856249,
          246329,   1884729,     49721,    201273,   7090745,  50678329,
         2302521,    421318,    376262,   3711545,  32950841,   3330617,
        48081465, 253751865,   2945593,  10070585,    204230,  26964537,
        24191545,    306630,   2560569,   6246969,   4448825,   4743737])

## Comparing Models

In [51]:
# Creating a dataframe to compare the results of
pop_comparison_all = pd.DataFrame({'Country': df['country'].unique(), 'Population in 2007': pop_2007, 
                              'Population in 2008 (Lasso)': pop_2008, 
                              'Population in 2008 (Basic Linear Regression)': linreg_2008_prediction,
                              'Population in 2008 (LR--Feature Selection & Scaling)': 
                                   scaled_linreg_2008_prediction}).reset_index(drop=True)
pop_comparison_all

,Country,Population in 2007,Population in 2008 (Lasso),Population in 2008 (Basic Linear Regression),Population in 2008 (LR--Feature Selection & Scaling)
0,Afghanistan,5908765,7342034,5642071,5397049
1,Albania,1441361,1252175,1259158,1151545
2,Algeria,24154838,22897718,24552559,25023033
3,American Samoa,53263,267973,335758,359878
4,Andorra,72597,395286,82052,197177
...,...,...,...,...,...
205,Virgin Islands (U.S.),101661,666298,304225,306630
206,West Bank and Gaza,2568098,2276201,2568081,2560569
207,"Yemen, Rep.",6367019,8065133,6054677,6246969
208,Zambia,4535925,4978386,4507988,4448825
209,Zimbabwe,4684302,5754390,4826373,4743737

In [52]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [53]:
scores_df = pd.DataFrame({'Lasso': [r_squared_lasso, rmse_score], 
                          'Basic Linear Regression (Model 0)': [r_squared_linreg0, rmse0],
                          'LinReg with Feature Selection & Scaling': [r_squared_lrp, rmse_lrp],
                          'score': ['R_squared', 'RMSE']}).set_index('score')

scores_df

,Lasso,Basic Linear Regression (Model 0),LinReg with Feature Selection & Scaling
score,,,
R_squared,0.99762,0.99937,0.99935
RMSE,-1750181.85597,896616.74348,915656.90161

Above, we can see that the basic linear regression model has the best score in terms of both the r-squared and rmse. This, along with a visual analysis of the predictions vs. the actual value the year prior, leads us to conclude that the most basic linear regression model is the best of the three models that we built in this notebook. We did not build a linear regression model just using scaled values or just using feature selection, so these two additional models could be part of a future work to determine whether or not the basic linear regression model is still better by comparison.

## Notes:

- Because data was backfilled for each country, this could lead to data being skewed towards this artificial mode for each country.

- Because we are using Linear Regression, some predicted values are negative. This is possible to resolve by finding the absolute value of the predicted feature.

- Since we trained and fit the models across all countries, predictions for some countries are more accurate than for others. One way to fix this would be to customize the model for each country. 

- Typically urban population will increase over time. However, there are exceptions. For example, if something catastrophic happens, if there is a large number of people emigrating from the country, or if there is a societal shift in which citizens leave the city for more rural areas.

- If we want to work on optimizing the models, we could look into the percentage increase in urban populations from previous years to determine just how feasible our predictions are.

- When comparing the Lasso prediction and basic Linear Regression predictions for each country, we see that from the 10 rows we can see above, the LinReg model's prediction is typically closer to the population in 2007 than the Lasso model's.

- The first Linear Regression model was trained across all features while the second was trained on a slightly smaller set of features. The features were also scaled in the second model. It is also possible to continue looking for a better Linear Regression model by creating one with scaled features and the full dataset and creating another without scaling and with fewer features. These models would be created similarly to the second linear regression model above.

- It is also possible to use time series analysis to predict population. However, that is currently out of the scope of this project.